<div class="col-md-12" ng-controller="UserpurchaseCtrl">
<div class="heading" > 
  Pizzzzzzaaaaaaaaaaa  World..

</div>
<div  class="subHeading">Purchase Details</td></div>
<div class="purchasedetails"  >

<form name="form" ng-submit="save(purchase)">

	<div class="purchasedetails" >
	<label>Name   :</label>&nbsp;&nbsp;&nbsp;&nbsp;
   <input  type="text"
     name="name" 
     ng-model="purchase.name" 
     placeholder="name"required=""/>
    <span ng-show="form.name.$error.required" >Enter name</span>

      
     </div>
     <div class="purchasedetails" >
    <label>Email   :</label>&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="email" 
     name="email" 
     ng-model="purchase.email" required="" 
     placeholder="Email"/>
     <span ng-show="form.email.$error.required">Enter email
     </span>

     <span ng-show="form.email.$error.email">Enter valid email
     </span>
     </div>
    
     <div class="purchasedetails">
     <label>Phone   :</label>&nbsp;&nbsp;&nbsp;
     <input type="number" 
     name="phone" 
     ng-model="purchase.phone"
      placeholder="Phone"/>
     
     </div>
     <h3> Address</h3>
     <div class="purchasedetails">
     <label>Address   :</label>
     <input  type="text"
     name="address1" 
     ng-model="purchase.address1" 
     placeholder="address" required=""/>
    <span ng-show="form.address1.$error.required" >Enter address</span>

      
     </div>
     <div class="purchasedetails">
     <label>Street      :</label> &nbsp;&nbsp;&nbsp;
     <input  type="text"
     name="address2" 
     ng-model="purchase.address2" 
     placeholder="street" required=""/>
    <span ng-show="form.address2.$error.required" >Enter street</span>

      
     </div>
     <div class="purchasedetails">
     <label>City   :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input  type="text"
     name="city" 
     ng-model="purchase.city" 
     placeholder="city" required=""/>
    <span ng-show="form.city.$error.required" >Enter city</span>

      
     </div>
     <div class="purchasedetails">
     <label>State   :</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input  type="text"
     name="state" 
     ng-model="purchase.state" 
     placeholder="state" required=""/>
    <span ng-show="form.state.$error.required" >Enter state	</span>

      
     </div>


      <div class="purchasedetails">
      <label>Pincode   :</label>
     <input type="number" 
     name="pincode" ng-model="purchase.pincode"
      placeholder="pincode"/>
     
     </div>
     

     <div class="purchasedetails">
     <input type="Submit">
     </div>
    
     </form>
</div>

</div>
