<div class="col-md-12" ng-controller="LoginCtrl">

<div class="container">
  <p class="fontHeading">Pizza World...</p>
    </div>
    <div class="bs-example">
    
    <ul class="nav nav-tabs">
        <li ><a href="#/home"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
        <li><a href="#/signup"><span class="glyphicon glyphicon-user"></span>SignUp</a></li>
        <li class="active"><a href="#/login"><span class="glyphicon glyphicon-lock"></span> Login</a></li>
        <li><a href="#/viewitems"><span class="glyphicon glyphicon-eye-open"></span> ViewItems</a></li>

    </ul>


</div>
<div class="col-md-4 col-md-offset-4" >
<p class="fontSubHeading">  Login</p>

 <div class="jumbotron">

<form name="form" ng-submit="verify(loginUser.email,loginUser.pasword)">
<div class="login">
<div>
<input type="email" name="email" ng-model="loginUser.email"required=""/>
     <span ng-show="form.email.$error.required">Enter email
     </span>

     <span ng-show="form.email.$error.email">Enter valid email
     </span>
</div>
<div>
     <input type="password" name="pasword" ng-model="loginUser.pasword"required="" />
     
     
     </div>
	<div align="center" class="button"><input type="image" src="button.jpg" name="submit" value="Login" width="100px" height="35px"></div>
	</div>

</form>
</div>
</div>
</div>



