<div class="col-md-12" ng-controller="SignupCtrl">
<div class="container">
    <p class="fontHeading">Pizza World...</p>
    </div>
    <div class="bs-example">
    
    <ul class="nav nav-tabs">
        <li ><a href="#/home"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
        <li class="active"><a href="#/signup"><span class="glyphicon glyphicon-user"></span>SignUp</a></li>
        <li><a href="#/login"><span class="glyphicon glyphicon-lock"></span> Login</a></li>
        <li><a href="#/viewitems"><span class="glyphicon glyphicon-eye-open"></span> ViewItems</a></li>

    </ul>



 <div class="col-md-4 col-md-offset-4">
<p class="fontSubHeading">  Registration</p>

 <div class="jumbotron">
               
 <form name="form">
<div class="form-group">
    <input  type="text"
     name="name" 
     ng-model="user.name" 
     placeholder="name"required=""/>
    <span ng-show="form.name.$error.required" >Enter name</span>

      
     </div>
<div class="form-group">
     <input type="email" 
     name="email" 
     ng-model="user.email" required="" 
     placeholder="Email"/>
     <span ng-show="form.email.$error.required">Enter email
     </span>

     <span ng-show="form.email.$error.email">Enter valid email
     </span>
     </div>

 <div class="form-group">
     <input type="password" 
     name="password"
      ng-model="user.password" 
      required="" ng-minlength=6 ng-maxlength=12 placeholder="password"/>
     <span ng-show="form.password.$error.required" style="color:red">Enter pasword
     </span>
     <span ng-show="form.password.$error.minlength" style="color:red">Min length is6
     </span>
      <span ng-show="form.password.$error.maxlength" style="color:red">max length is 12
     </span>
     </div>
     
       <div class="form-group">
     <input  type="text"
     name="address1" 
     ng-model="user.address1" 
     placeholder="address" required=""/>
    <span ng-show="form.address1.$error.required" style="color:red" >Enter address</span>

      
     </div>
     <div>
     <input  type="text"
     name="address2" 
     ng-model="user.address2" 
     placeholder="street" required=""/>
    <span ng-show="form.address2.$error.required" >Enter street</span>

      
     </div>

      <div><input  type="text"
     name="city" 
     ng-model="user.city" 
     placeholder="city" required=""/>
    <span ng-show="form.city.$error.required" >Enter city</span>

      
     </div>
     <div><input  type="text"
     name="state" 
     ng-model="user.state" 
     placeholder="state" required=""/>
    <span ng-show="form.state.$error.required" >Enter state </span>

      
     </div>


      <div>
     <input type="number" 
     name="pincode" ng-model="user.pincode"
      placeholder="pincode"/>
     
     </div>

     <div align="center" class="button">
     <input type="submit" class="btn btn-primary btn-xs" value="Register" ng-click="save(user)">
     </div>
</div>

</form>
</div>
</div>
</div>

</div>

</div>
