#wrapper{ 
width:800px; 
background-color:#f2f2e8; 
position:relative; 
left:50%; 
margin-left:-400px; 
border-radius: 10px; 
-moz-border-radius: 10px; 
padding:5px; 
height: 500px; 
} 

.button{
	margin-top: 30px;
}
.fontSubHeading{
	font-family:"Times New Roman", Times, serif;
	font-size: 26px;
	font-weight: bold;
	margin-left: 80px;
	color:#4682B4 ;
}
.fontHeading{
	font-family:"Monotype Corsiva", Times, serif;
	font-size: 40px;
	font-weight: bold;
	
	color:#4682B4;
}
.fontSubHeading1{
	font-family:"Times New Roman", Times, serif;
	font-size: 26px;
	font-weight: bold;
	margin-top:-40px;
	color:#4682B4 ;
}
.redColor{
	color: red;
}
.spacing{
	margin-top:50px;
}
.final{
	margin-top:50px;
	font-family:"Monotype Corsiva", Times, serif;
	font-size: 40px;
	font-weight: bold;
	
	color:#0099CC;
}